/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*font-family: 'Cambria Math';*/
    font-family: 'Open Sans', sans-serif;
    --blue: #14A395;
    --black: #2E2B21;
    --brown: #57440B;
    --dark-brown: #342907;
    --neon-pink: #FF1F53;
    --pastel-pink: #EBA59D;
    --tan: #E6D5A5;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar {
    background-color: var(--black) !important
}
.navbar a {
    color: var(--tan) !important;
}

.navbar a:hover {
    color: var(--blue) !important;
}

button {
    backgounrd-color: var(--pastel-pink) !important;
    color: var(--black) !important;
}