@model MapStuff
@{
    ViewData["Title"] = "BucketList";
}

<h2>BucketList</h2>

<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            /* The width is the width of the web page */
        }

        .mapGrid {
            display: grid;
            position: relative;
            z-index: 1; /* The z-index should be higher than Google Maps */
            width: auto;
            height: auto;
            opacity: .45; /* Set the opacity for a slightly transparent Google Form */
            color: white;
            grid-template-columns: 2fr 5fr;
            grid-template-areas: "searchBar the_void"
        }

        .searchBar {
            grid-area: searchBar;
            background: black;
            height: auto;
            width: 20%;
            position: absolute;
            opacity: .8;
            z-index: 2;
        }

        .searchBarInfo {
            display: flex;
            flex-direction: column;
        }

    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        var map;
        var cleveland = { lat: 41.4993, lng: -81.6944 };
        var OEC = { lat: 41.241804, lng: -81.637270 };

        var latArray = [];
        @foreach (var place in Model.Latitudes)
        {
            @:latArray.push("@place");
        }
        var longArray = [];
        @foreach (var place in Model.Longitudes)
        {
            @:longArray.push("@place");
        }
        var nameArray = [];
        @foreach (var place in Model.Names)
        {
            @:nameArray.push("@place");
        }

        var bucket = "~back-end/WebApplication.Web/wwwroot/images/Bucket.png";
        var image = {
            url: bucket,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25)
        };

        function initMap() {

            // Create the map.
            map = new google.maps.Map(document.getElementById('map'), {
                center: OEC,
                zoom: 9,
                minZoom: 9,
                maxZoom: 18,
                styles: [
                    {
                        featureType: 'poi',
                        stylers: [{ visibility: 'off' }]
                    },
                    {
                        featureType: 'transit',
                        elementType: 'labels.icon',
                        stylers: [{ visibility: 'off' }]
                    }
                ]
            });

            // Bounds for WalkCLE
            var allowedBounds = new google.maps.LatLngBounds(
                new google.maps.LatLng(41.650030, -83.003366),
                new google.maps.LatLng(40.731486, -81.099373));

            var lastValidCenter = map.getCenter();

            google.maps.event.addListener(map, 'center_changed', function () {
                if (allowedBounds.contains(map.getCenter())) {
                    // still within valid bounds, so save the last valid position
                    lastValidCenter = map.getCenter();
                    return;
                }

                // not valid anymore => return to last valid position
                map.panTo(lastValidCenter);
            });

            for (var i = 0; i < latArray.length; i++) {
                var myLatlng = new google.maps.LatLng(latArray[i], longArray[i]);

                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    icon: image,
                    title: nameArray[i]
                });

                marker.setMap(map)
                var address = nameArray[i].replace(/ /g, '%20');
                marker.linkUrl = 'https://localhost:44391/Home/Detail?locationname=' + address;

                marker.addListener('click', function () {

                    window.location = this.linkUrl;

                });

            }
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKzhMLUvwCaJupiGu-cNLevQG_Hl3DIcw&libraries=places&callback=initMap" async defer></script>
</body>
</html>
