@model LocationDetail
@{
    ViewData["Title"] = "Home Page";
}


<style>
    body {
        color: white;
    }

    img {
        /* Add the blur effect */
        filter: contrast(120%);
        filter: blur(.1px);
        -webkit-filter: blur(.8px);
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #bg {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        filter: brightness(.7);
    }

    .frontGrid {
        display: grid;
        position: absolute;
        grid-gap: 10px;
        width: auto;
        height: 90%;
        z-index: 1;
        grid-template-rows: 10% 30% 50% 10%;
        grid-template-columns: 10% 25% 20% 25% 10%;
        grid-template-areas: ". . . . ." ". title title about ." ". entryField optionSelect optionSelect ." ". . . . ."
    }

    .buttons > button {
        background-color: cornflowerblue;
        border: none;
        color: white;
        padding: 4px 21px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        height: 66px;
        width: 88px;
    }

    .title {
        grid-area: title;
        font-size: 99px;
        width: 100%;
    }

    .about {
        grid-area: about;
        text-align: center;
        padding-top:38px;
    }

    .optionSelect {
        display: grid;
        grid-area: optionSelect;
        border: 3px solid rgba(25, 25, 25, .5);
        width: auto;
        padding: 20px;
        background: rgba(25, 25, 25, .5);
        border-radius: 3px;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "top" "buttons" "submit"
    }

    .top {
        grid-area: top;
    }

    .buttons {
        grid-area: buttons;
        justify-content: center;
    }

    .submit {
        grid-area: submit;
    }

    .entryField {
        border: 3px solid rgba(25, 25, 25, .5);
        width: auto;
        padding: 20px;
        background: rgba(25, 25, 25, .5);
        border-radius: 3px;
        grid-area: entryField;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "looking" "around" "letsGo"
    }

    .looking {
        grid-area: looking;
    }

    .around {
        grid-area: around;
    }

    .letsGo {
        grid-area: letsGo;
        color:black;
    }

    button {
        border-radius: 3px; 
        margin-top: 5px;
        margin-right: 1px;
        color:black;
    }

    .submit > button {
        position: relative;
        left: 40%;
    }



</style>

<html>
<head>
</head>
<body>

    <img src="~/images/DimMapBackground.png" id="bg" />
    


    <div class="frontGrid">
        <div class="about">
            <h4>
                Need help getting around?
                <br />
                Let us be your guide! 
                <br />
                A map of Cleveland!
            </h4>
        </div>

        <div class="title" style="font-size:110px; font-style:italic; font-family:'Cambria Math';">
            WalkCLE
        </div>

        <div class="entryField">
            
            <form asp-controller="home" asp-action="map" method="get">

                <label asp-for="Type">What are you looking for?</label>
                <select asp-for="Type" asp-items="LocationDetail.TypeList" style="color:black;"></select>

                <br />
                <br />
                <br />

                <label asp-for="Origin">Where are you?</label>
                <input asp-for="Origin" type="text" style="color:black;" />

                <br />
                <br />
                <br />

                <button class="letsGo">
                    <i class="glyphicon glyphicon-search"></i>
                   
                    <span class="buttonCopy">Let's Go!</span>
                </button>
            </form>
            
        </div>



        <div class="optionSelect">
            <div class="top">
                <strong>
                    In a hurry? Quick options!
                </strong>
            </div>

            <div class="buttons" style="padding-bottom: 20px;">
                <form asp-controller="home" asp-action="map" method="get">
<<<<<<< HEAD
                    <button type="submit" asp-for="Type" value="bar">Bars</button>
                </form>
                <button ></button>
                <button ></button>
                <button ></button>
                <button ></button>
                <button ></button>
                <button ></button>
                <button ></button>
                <button></button>
=======
                    <input type="hidden" asp-for="Type" value="bar" />
                    <button>Bars</button>
                </form>
                <form asp-controller="home" asp-action="map" method="get">
                    <input type="hidden" asp-for="Type" value="museum" />
                    <button>Museums</button>
                </form>
                <form asp-controller="home" asp-action="map" method="get">
                    <input type="hidden" asp-for="Type" value="cinema" />
                    <button>Theater</button>
                </form>
                <form asp-controller="home" asp-action="map" method="get">
                    <input type="hidden" asp-for="Type" value="stadium" />
                    <button>Sports Fields</button>
                </form>
                <form asp-controller="home" asp-action="map" method="get">
                    <input type="hidden" asp-for="Type" value="music" />
                    <button>Music Venues</button>
                </form>
                <form asp-controller="home" asp-action="map" method="get">
                    <input type="hidden" asp-for="Type" value="park" />
                    <button>Parks</button>
                </form>
                <form asp-controller="home" asp-action="map" method="get">
                    <input type="hidden" asp-for="Type" value="historical site" />
                    <button>Historical Landmarks</button>
                </form>
>>>>>>> 759a8de065dc6cd9749d4b6c15447eb2402995ce
            </div>
        </div>
    </div>
</body>
</html>
