@model LocationDetail
@{
    ViewData["Title"] = "Home Page";
}


<style>
    * {
        box-sizing: border-box;
    }
    body {
        color: white;
    }

    #bg {
        /* Add the blur effect */
        filter: contrast(120%);
        filter: blur(.1px);
        -webkit-filter: blur(.8px);
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        filter: brightness(.7);
    }

    .frontGrid {
        display: grid;
        position: absolute;
        grid-gap: 10px;
        width: 90%;
        height: 90%;
        z-index: 1;
        grid-template-rows: 10% 30% 50% 10%;
        grid-template-columns: 10% 25% 20% 25% 10%;
        grid-template-areas: ". . . . ." ". title title about ." ". optionSelect optionSelect optionSelect ." ". . . . ."
    }

    .buttons > form > button {
        /*background-color: cornflowerblue;*/
        backgounrd-color: #EBA59D !important;
        border: none;
        /*color: white;*/
        padding: 4px 21px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        height: 88px;
        width: 100px;
    }

    .title {
        grid-area: title;
        font-size: 99px;
        width: 100%;
        color: #E6D5A5;
    }

    .about {
        grid-area: about;
        text-align: center;
        padding-top: 38px;
        color: #E6D5A5;
    }

    .optionSelect {
        display: grid;
        grid-area: optionSelect;
        border: 3px solid rgba(25, 25, 25, .5);
        width: auto;
        padding: 20px;
        background: rgba(52, 41, 7, .5);
        border-radius: 3px;
        grid-template-rows: 1fr 2fr ;
        grid-template-columns: 1fr;
        grid-template-areas: "top" "buttons"
    }

    .top {
        grid-area: top;
    }

    .buttons {
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

    .submit {
        grid-area: submit;
    }

    /*.entryField {
        border: 3px solid rgba(25, 25, 25, .5);
        width: auto;
        padding: 20px;
        background: rgba(25, 25, 25, .5);
        border-radius: 3px;
        grid-area: entryField;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "looking" "around" "letsGo"
    }*/

    .looking {
        grid-area: looking;
    }

    .around {
        grid-area: around;
    }

    .letsGo {
        grid-area: letsGo;
        color:black;
    }

    button {
        border-radius: 3px;
        margin-top: 5px;
        margin-right: 1px;
        padding: 10px !important;
        background-color: #E6D5A5 !important;
        /*color:black;*/
        font-weight: bold;
        box-shadow: inset;
        text-align: center;
    }
    button:hover {
        background-color: #14A395 !important;
    }

    .submit > button {
        position: relative;
        left: 40%;
    }

    #locationEntry {
        padding-top: 20px;
        padding-bottom: 0px;
        margin: auto;
        width: 50%;
    }

    #origin {
        color: #E6D5A5;
    }

    .data-entry {
        color: #E6D5A5;
    }


</style>

<html>
<head>
</head>
<body>

    <img src="~/images/DimMapBackground.png" id="bg" />
    


    <div class="frontGrid">
        <div class="about">
            <h4>
                Visiting Cleveland?
                <br />
                Want to Know What's Nearby?
                <br />
                Let take a walk!
            </h4>
        </div>

        <div class="title" style="font-size:110px; font-style:italic; font-family:'Cambria Math';">
            WalkCLE
        </div>



        <div class="optionSelect">
            @*<div class="top">
                <strong>
                    Where are you?
                </strong>
            </div>*@

            <div class="buttons" style="padding-bottom: 20px;">
                <form asp-controller="home" asp-action="map" method="get">
                    <label asp-for="Origin" class="data-entry" id="locationEntry">Tell us where you are:</label>
                    <br /><br />
                    <input asp-for="Origin" type="text" style="color:black;" required /><br />
                    <br />
                    <p class="data-entry"><strong>And what you are looking for:</strong></p>
                    @*<label asp-for="Type">What are you looking for?</label>
        <select asp-for="Type" asp-items="LocationDetail.TypeList" style="color:black;"></select>*@

                    <button type="submit" name="Type" value="bar">Bar</button>
                    <button type="submit" name="Type" value="museum">Museums</button>
                    <button type="submit" name="Type" value="cinema">Theater</button>
                    <button type="submit" name="Type" value="stadium">Sports</button>
                    <button type="submit" name="Type" value="park">Parks</button>
                    <button type="submit" name="Type" value="historical site">Historical</button>

                </form>

                @*<form asp-controller="home" asp-action="map" method="get">
                    <input type="hidden" asp-for="Type" value="museum" />
                </form>
                <form asp-controller="home" asp-action="map" method="get">
                    <input type="hidden" asp-for="Type" value="cinema" />
                </form>
                <form asp-controller="home" asp-action="map" method="get">
                    <input type="hidden" asp-for="Type" value="stadium" />
                </form>
                <form asp-controller="home" asp-action="map" method="get">
                    <input type="hidden" asp-for="Type" value="music" />
                </form>
                <form asp-controller="home" asp-action="map" method="get">
                    <input type="hidden" asp-for="Type" value="park" />
                </form>
                <form asp-controller="home" asp-action="map" method="get">
                    <input type="hidden" asp-for="Type" value="historical site" />
                </form>*@
            </div>
        </div>
    </div>
</body>
</html>
