@model LocationDetail
@{
    ViewData["Title"] = "Home Page";
}

<h1>WalkCLE</h1>


<form asp-controller="home" asp-action="map" method="post">
    <select asp-for="Type">
        <option value="" disabled selected hidden>I'm looking for: </option>
        <option value="Bar">Bar</option>
        <option value="Restaurant">Restaurant</option>
        <option value="Park">Park</option>
        <option value="Landmark">Landmark</option>
    </select>
    <p> near </p>
    <input type="text" value="Tech Elevator" />
    <button>
        <i class="glyphicon glyphicon-search"></i>
        <span class="buttonCopy">Search</span>
    </button>
</form>