@{
    ViewData["Title"] = "Home Page";
}

<h1>WalkCLE</h1>
<label>Where would you like to go?</label>
<select>
    <option value="" disabled selected hidden>I'm looking for: </option>
    <option>Bar</option>
    <option>Restaurant</option>
    <option>Park</option>
    <option>Landmark</option>
</select> 
<p> near </p>
<input type="text" />
<button>
    <i class="glyphicon glyphicon-search"></i>
    <span class="buttonCopy">Search</span>
</button>