@model LocationDetail
@{
    ViewData["Title"] = "Map";
    
}

<html>
<head>
    <style>
                /* Set the size of the div element that contains the map */
        #map {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        .mapGrid {
            display: grid;
            position: relative;
            z-index: 1; /* The z-index should be higher than Google Maps */
            width: auto;
            height: auto;
            opacity: .45; /* Set the opacity for a slightly transparent Google Form */
            color: white;
            grid-template-columns: 2fr 5fr;
            grid-template-areas: "searchBar ."
        }

        .searchBar {
            grid-area: searchBar;
            background: black;
        }

        .searchBarInfo {
            display: flex;
            flex-direction
        }

    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        var map;

        function initMap() {
            // Create the map.
            var techElevator = { lat: 41.503756, lng: -81.638892 };
            map = new google.maps.Map(document.getElementById('map'), {
                center: techElevator,
                zoom: 15,
                minZoom: 11,
                maxZoom: 18
            });


            // Bounds for WalkCLE
            var allowedBounds = new google.maps.LatLngBounds(
                new google.maps.LatLng(41.459287, -81.716830),
                new google.maps.LatLng(41.584380, -81.575907));

            var lastValidCenter = map.getCenter();

            google.maps.event.addListener(map, 'center_changed', function () {
                if (allowedBounds.contains(map.getCenter())) {
                    // still within valid bounds, so save the last valid position
                    lastValidCenter = map.getCenter();
                    return;
                }

                // not valid anymore => return to last valid position
                map.panTo(lastValidCenter);
            });

            // Create the places service.
            var service = new google.maps.places.PlacesService(map);
            var getNextPage = null;
            var moreButton = document.getElementById('more');
            moreButton.onclick = function () {
                moreButton.disabled = true;
                if (getNextPage) getNextPage();
            };

            // Perform a nearby search.
            service.nearbySearch(
                { location: techElevator, radius: 3218, type: ['@Model.Type'] },
                function (results, status, pagination) {
                    if (status !== 'OK') return;

                    createMarkers(results);
                    moreButton.disabled = !pagination.hasNextPage;
                    getNextPage = pagination.hasNextPage && function () {
                        pagination.nextPage();
                    };
                });
        }

        function createMarkers(places) {
            var bounds = new google.maps.LatLngBounds();
            var placesList = document.getElementById('places');

            for (var i = 0, place; place = places[i]; i++) {
                var image = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                var marker = new google.maps.Marker({
                    map: map,
                    icon: image,
                    title: place.name,
                    position: place.geometry.location
                });

                var li = document.createElement('li');
                li.textContent = place.name;
                placesList.appendChild(li);

                bounds.extend(place.geometry.location);
            }
            map.fitBounds(bounds);
        }

    </script>
    <div class="mapGrid">
        <div class="searchBar">
            <h2>Results</h2>
            <ul id="places"></ul>
            <button id="more">More results</button>
        </div>
    </div>



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKzhMLUvwCaJupiGu-cNLevQG_Hl3DIcw&libraries=places&callback=initMap" async defer></script>
</body>
</html>
